@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    margin-right: 1rem;
  }
}


li {
  list-style: none;
}
