@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    margin-right: 1rem;
  }
}


li {
  list-style: none;
}

.tabs {
  height: 100vh;
  max-width: 450px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 20px;
  }

  &__btns {
    max-width: 100%;
    width: 100%;

    position: relative;
    display: flex;

    .is-active {
      position: absolute;
      height: 3px;
      background-color: red;
      left: 0;
      bottom: 0;
      transition: left 0.5s ease;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__btns-btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    max-width: 100%;
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 15px 0;

    outline: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.icon-column {
      flex-direction: column;
    }
  }
}

